*.odp
*.odg
*.ods
*.svg
*.png
*.pdf
foo.*
*~
*.pyc
../dhw_input.inx
../dm2svg.py
standalone/BezierSpline/
standalone/extrafiles/
standalone/json/
standalone/Math/
jj_catmull/
standalone/tmtpl/repl.sh
standalone/tmtpl/TODO.txt



